<footer>
  <section class="contact">
    <div class="row">
      <p>
        <a href="/conduct">Code of Conduct</a>
      </p>
      <ul>
        <li>
          <a href="https://twitter.com/RailsBridgeNYC/" target="_blank">
            <i class="icon-twitter"></i>
            @RailsBridgeNYC
          </a>
        </li>
        <li>
          <a href="mailto:info@railsbridgenyc.org">
            <i class="icon-envelope-alt"></i>
            info@railsbridgenyc.org
          </a>
        </li>
        <li>
          design &amp; code:
          <a href="https://github.com/hashtagerinl">
            @hashtagerinl
          </a>
        </li>
      </ul>
      <h4>&copy; 2019 RailsBridge NYC</h4>
    </div>
  </section>
</footer>
