#event-info.reveal-modal
  .row
    .large-6.columns
      %h3 Installfest
      %p Friday, May 8th
      %p 6:00 PM - 9:00 PM
    .large-6.columns
      %h3 Workshop
      %p Saturday, May 9th
      %p 9:00 AM - 5:00 PM
  .row
    .large-12.columns
      %h3 Location
      %p XO Group
      %p 195 Broadway
      %p New York, NY 10007
  .row
    .large-12.columns
      %h3
        =link_to "Register Now!", "https://www.bridgetroll.org/events/163"
  =link_to 'x', '', class: 'close-reveal-modal'
