#event-info.reveal-modal
  .row
    .large-6.columns
      %h3 Installfest
      %p Friday, September 9th
      %p 6:00 PM - 9:00 PM
    .large-6.columns
      %h3 Workshop
      %p Saturday, September 10th
      %p 9:00 AM - 5:00 PM
  .row
    .large-12.columns
      %h3 Location
      %p The New York Code + Design Academy
      %p 90 John Street
      %p Suite #404
      %p New York, NY 10038
  .row
    .large-12.columns
      %h3
        =link_to "Register Now!", "https://www.bridgetroll.org/events/281"
  =link_to 'x', '', class: 'close-reveal-modal'
