#event-info.reveal-modal
  .row
    .large-6.columns
      %h3 Installfest
      %p Friday, December 4th
      %p 6:00 PM - 9:00 PM
    .large-6.columns
      %h3 Workshop
      %p Saturday, December 5th
      %p 9:00 AM - 5:00 PM
  .row
    .large-12.columns
      %h3 Location
      %p MongoDB
      %p 229 W 43rd St
      %p New York, NY 10036
  .row
    .large-12.columns
      %h3
        = link_to "Register Now!", "https://www.bridgetroll.org/events/233"
  = link_to 'x', '', class: 'close-reveal-modal'
