#event-info.reveal-modal
  .row
    .large-6.columns
      %h3 Installfest
      %p Friday, October 2nd
      %p 6:00 PM - 9:00 PM
    .large-6.columns
      %h3 Workshop
      %p Saturday, October 3rd
      %p 9:00 AM - 5:00 PM
  .row
    .large-12.columns
      %h3 Location
      %p Intent Media
      %p 315 Hudson St
      %p New York, NY 10014
  .row
    .large-12.columns
      %h3
        =link_to "Register Opens September 19th", "https://www.bridgetroll.org/"
  =link_to 'x', '', class: 'close-reveal-modal'
