#event-info.reveal-modal
  .row
    .large-6.columns
      %h3 Installfest
      %p Friday, February 17th
      %p 6:00 PM - 9:00 PM
    .large-6.columns
      %h3 Workshop
      %p Saturday, February 18th
      %p 9:00 AM - 5:00 PM
  .row
    .large-12.columns
      %h3 Location
      %p Blue Apron
      %p 40 West 23rd
      %p 5th Floor
      %p New York, NY 10010
  .row
    .large-12.columns
      %h3
        = link_to "Register Now!", "https://www.bridgetroll.org/events/337"
  =link_to 'x', '', class: 'close-reveal-modal'
