#event-info.reveal-modal
  .row
    .large-6.columns
      %h3 Installfest
      %p Friday, November 8th
      %p 6:00 PM - 9:00 PM
    .large-6.columns
      %h3 Workshop
      %p Saturday, November 9th
      %p 9:00 AM - 5:00 PM
  .row
    .large-12.columns
      %h3 Location
      %p
        General Assembly
        %br/
        902 Broadway
        %br/
        4th Floor
        %br/
        New York, NY 10010
    .large-12.columns
      %h3
        %a{href:"http://www.bridgetroll.org/events/68"} Register Now
  =link_to 'x', '', class: 'close-reveal-modal'
