%nav.top-bar
  %ul.title-area
    %li.name 
      %h1=link_to root_path do
	      RailsBridge NYC
    %li.toggle-topbar.menu-icon
      =link_to "#" do
        %span Menu
  .top-bar-section
    %ul.right
      %li
        =link_to "Students", page_path(:students)
      %li
        =link_to "Volunteers", page_path(:volunteers)
      %li
        =link_to "Sponsors", page_path(:sponsors)