%section.main
  %h1.logo RailsBridge NYC
  .row.mailing-list
    .large-5.columns.large-centered
      %p Join our Mailing List to find out first about our next workshop!
      / Begin MailChimp Signup Form
      #mc_embed_signup
        %form#mc-embedded-subscribe-form.validate{action: "http://railsbridgenyc.us5.list-manage.com/subscribe/post?u=65c76a6873a0f359a5fd68cdd&id=2935a13527", method: "post", name: "mc-embedded-subscribe-form", novalidate: "", target: "_blank"}
          %label{for: "mce-EMAIL", style: "display:none;"} Mailing List
          %input.input-#mce-EMAIL.email{name: "EMAIL", placeholder: "email address", required: "", type: "email", value: ""}/
          .clear
            %input#mc-embedded-subscribe.button{name: "subscribe", type: "submit", value: "Subscribe"}/
    = link_to 'http://www.bridgetroll.org/events/92', class: 'hide-for-small ribbon', data: {reveal_id: "event-info", text: 'SIGN UP!'} do
      %h1.ribbon-title
        Next Event:
      %h1.ribbon-content
        %strong May 2-3, 2013
%section.about
  .row
    %h3
      Railsbridge works to increase
      diversity in tech by putting on awesome
      free events.
    %p
      - 0.upto(2) do
        %i.icon-star
    %h3
      We hold free 1.5 day Workshops in the New York City area to help women learn how to program their first websites in Ruby and Ruby on Rails.

%section.get-involved
  .row
    .large-6.columns
      %h2 Get Involved
      %p
        Heard of
        %strong
          RailsBridge
        and want to get involved? Great!
      %p
        We have an active and passionate group of volunteers
        and teachers who want to help you run the next
        RailsBridge in NYC.
        =link_to 'Join our Google Group', "https://groups.google.com/d/forum/railsbridge-nyc-org", target: "_blank" 
        and introduce
        yourself and what you'd like to contribute.
    .large-6.columns
      %section.resources
        %h3 
          =image_tag('mini-rubies.png')
          Resources:
        %ul
          %li
            %a{href: "http://workshops.railsbridge.org/", target: "_blank"}
              San
              Francisco RailsBridge
          %li
            %a{href: "http://www.meetup.com/NYC-Ruby-Women/", target: "_blank"}
              NYC Ruby Women
          %li
            %a{href: "http://www.meetup.com/NYC-rb/", target: "_blank"} NYC.rb
          %li
            %a{href: "http://goruco.com/", target: "_blank"} GORUCO
%section.sponsors
  .row
    %h2 Our Sponsors
    %p
      Thank you to the wonderful people and companies who
      have donated their time and money in our mission to
      teach underrepresented minorities in technology.
    %p
      =link_to 'sponsors.html' do
        Learn more about how your company can help us through
        sponsorship opportunities.
    %ul
      %li
        %a{href: "http://github.com/"} GitHub
      %li
        %a{href: "http://generalassemb.ly/"} General Assembly
      %li
        %a{href: "http://hackerhours.org/"} Hacker Hours
      %li
        %a{href: "http://www.handybook.com/"} Handybook
      %li
        %a{href: "http://grubhub.com/"} GrubHub
      %li
        %a{href: "http://gilt.com/"} Gilt
      %li
        %a{href: "http://neo.com/"} Neo
      %li
        %a{href: "http://nycdevshop.com//"} NYC Dev Shop
      %li
        %a{href: "http://pivotallabs.com/"} Pivotal Labs
      %li
        %a{href: "http://seamless.com/"} Seamless
      %li
        %a{href: "http://simonandschuster.com/"} Simon & Schuster
      %li
        %a{href: "http://rgenerator.com/"} Sony DADC/rGenerator
= render 'modal'
