%nav.top-bar
  %ul.title-area
    %li.name 
      %h1=link_to "RailsBridge NYC", root_path
    %li.toggle-topbar.menu-icon
      =link_to "#" do
        %span Menu
  .top-bar-section
    %ul.right
      %li
        =link_to "Students", root_path
      %li
        =link_to "Volunteers", root_path
      %li
        =link_to "Sponsors", root_path
%section.main
  .row
    .large-6.columns
    .large-6.columns
      %aside
        %section.about
          / %h1 RailsBridge NYC
          / %p
          /   Railsbridge works to increase
          /   diversity in tech by putting on awesome
          /   free events.
          / %p
          /   We hold free 1.5 day Workshops in the New York City area to help women learn how to program their first websites in Ruby and Ruby on Rails.
%section.get-involved
  .row  
    %h2 Get Involved
    %p
      Heard of RailsBridge and want to get involved? Great!
      We have an active and passionate group of volunteers
      and teachers who want to help you run the next
      RailsBridge in NYC.
      =link_to 'Join our Google Group', "https://groups.google.com/d/forum/railsbridge-nyc-org", target: "_blank" 
      and introduce
      yourself and what you'd like to contribute.
%section.resources
  .row
    %h2 Resources
    %ul
      %li
        %a{href: "http://workshops.railsbridge.org/", target: "_blank"}
          San
          Francisco RailsBridge
      %li
        %a{href: "http://www.meetup.com/NYC-Ruby-Women/", target: "_blank"}
          NYC
          Ruby Women
      %li
        %a{href: "http://www.meetup.com/NYC-rb/", target: "_blank"} NYC.rb
      %li
        %a{href: "http://goruco.com/", target: "_blank"} GORUCO
%section.sponsors
  .row
    %h2 Our Sponsors
    %p
      Thank you to the wonderful people and companies who
      have donated their time and money in our mission to
      teach underrepresented minorities in technology.
      %a{href: "sponsors.html"}
        Learn
        more about how your company can help us through
        sponsorship opportunities.
    %ul
      %li
        %a{href: "http://www.microoffice.com/"} MicroOffice
      %li
        %a{href: "http://www.neo.com/"} Neo
      %li
        %a{href: "http://pivotallabs.com/"} Pivotal Labs
      %li
        %a{href: "http://railsdog.com/"} RailsDog
      %li
        %a{href: "http://www.simonandschuster.com/"} Simon & Schuster
%aside
  %h3 Our Next Event
  %p
    %strong Installfest
    %br/
    Friday, October 11th 6:00PM-9:00PM
    %br/
    %strong Workshop
    %br/
    Saturday, October 12th 9:00AM-5:00PM
  %p
    %strong Location
    %br/
    Alley NYC
    %br/
    500 7th Avenue (at 37th Street)
    %a{href: "https://maps.google.com/maps?ie=UTF-8&q=alley+nyc&fb=1&gl=us&hq=alley&hnear=0x89c24fa5d33f083b:0xc80b8f06e177fe62,New+York,+NY&cid=0,0,12900040414853858982&ei=lxMOUqDyNcjA2gW2hoCwCA&ved=0CJQBEPwSMAs"} (map)
    %br/
    Floor 17A
    %br/
    New York, NY 10018
  %p
    %strong Registration
    %br/
    CLOSED—Sign up to our mailing list for news
    about our upcoming workshop.
%aside
  %h3 Receive Email Updates
  %p
    Join our Mailing List to find out first when we
    announce our next workshop!
  / Begin MailChimp Signup Form
  #mc_embed_signup
    %form#mc-embedded-subscribe-form.validate{action: "http://railsbridgenyc.us5.list-manage.com/subscribe/post?u=65c76a6873a0f359a5fd68cdd&id=2935a13527", method: "post", name: "mc-embedded-subscribe-form", novalidate: "", target: "_blank"}
      %label{for: "mce-EMAIL"} Subscribe to our mailing list
      %input#mce-EMAIL.email{name: "EMAIL", placeholder: "email address", required: "", type: "email", value: ""}/
      .clear
        %input#mc-embedded-subscribe.button{name: "subscribe", type: "submit", value: "Subscribe"}/
    / End mc_embed_signup
/ #main
/ #main-container

%footer
  .row
    %h3 © 2013 RailsBridge NYC
    %p
      %a{href: "code-of-conduct.html"} Code of Conduct
  %section.contact
    .row
      %h2 Contact
      %ul
        %li
          Twitter:
          %a{href: "https://twitter.com/RailsBridgeNYC/", target: "_blank"} @RailsBridgeNYC
        %li
          Email:
          %a{href: "mailto:info@railsbridgenyc.org", target: "_blank"} info@railsbridgenyc.org
