%footer
  %section.contact
    .row
      %p
        =link_to "Code of Conduct", page_path(:conduct)
      %ul
        %li
          = link_to 'https://twitter.com/RailsBridgeNYC/', target: "_blank" do
            %i.icon-twitter
            @RailsBridgeNYC
        %li
          = link_to 'mailto:nyc@railsbridge.org' do
            %i.icon-envelope-alt
            info@railsbridgenyc.org
        %li
          design & code:
          = link_to 'https://twitter.com/erinandcode' do
            @erinandcode
      %h4 © 2013 RailsBridge NYC
